In [1]:
import getpass
import sqlalchemy
import pandas as pd

## Database Connection

You'll see the username and password in the whatsapp group.

In [2]:
user = getpass.getpass()

 ····

In [3]:
pwd = getpass.getpass()

 ·······························

In [4]:
DB_URIfix='mysql+pymysql://'+user+':'+pwd+'@35.197.16.55/wiki'+'?charset=utf8mb4'
engine = sqlalchemy.create_engine(DB_URIfix)

### Reading from database

In [7]:
SQL_example1 = """
SELECT *
FROM wiki.Clickstream 
WHERE `From` = 'Know_Nothing';
"""

df1 = pd.read_sql(SQL_example1, engine)
df1

,Snapshot,From,To,RelationType,Count
0,202001,Know_Nothing,Thaddeus_Stevens,link,125
1,202001,Know_Nothing,Constitutional_Union_Party_(United_States),link,1980
2,202001,Know_Nothing,1854_and_1855_United_States_House_of_Represent...,link,137
3,202001,Know_Nothing,Anti-Catholicism,link,268
4,202001,Know_Nothing,Anthony_Kennedy_(Maryland),link,95
...,...,...,...,...,...
93,202001,Know_Nothing,J._Neely_Johnson,link,41
94,202001,Know_Nothing,American_nationalism,link,89
95,202001,Know_Nothing,Noah_Gordon_(novelist),link,28
96,202001,Know_Nothing,Flag_of_the_United_States,other,34
97,202001,Know_Nothing,1852_United_States_presidential_election,link,14

In [8]:
SQL_example2 = """
SELECT * 
FROM wiki.Clickstream 
WHERE `To` = 'Thaddeus_Stevens' ;
"""

df2 = pd.read_sql(SQL_example2, engine)
df2

,Snapshot,From,To,RelationType,Count
0,202001,Lost_Cause_of_the_Confederacy,Thaddeus_Stevens,link,21
1,202001,other-external,Thaddeus_Stevens,external,583
2,202001,Thaddeus,Thaddeus_Stevens,link,30
3,202001,American_Civil_War,Thaddeus_Stevens,link,15
4,202001,Roscoe_Conkling,Thaddeus_Stevens,link,84
...,...,...,...,...,...
64,202001,United_States_Capitol_rotunda,Thaddeus_Stevens,link,95
65,202001,Pennsylvania's_8th_congressional_district,Thaddeus_Stevens,link,11
66,202001,"Danville,_Vermont",Thaddeus_Stevens,link,12
67,202001,Anti-Masonic_Party,Thaddeus_Stevens,link,103
68,202001,Tennessee_Johnson,Thaddeus_Stevens,link,15